body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.header{
	background: #e4f;
	margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 50px;
}

.header .loggo{
    display: flex;
    flex-direction: row;
}

.header .loggo .title{
    text-align: center;
    font-size: 2em;
    color: black;
}

.header .loggo .image{
    width: 50px;
    height: 50px;
}

.header .play-button{
    margin-left: auto;
    margin-right: auto;
}

.user{

}